
@import 'theme.scss';

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $grayBgColor;
}

.login-card {
  min-width: 300px;

  .login-form {
    min-width: 400px;

    .login-button-submit {
      padding-top: 20px;
    }
  }
}