.assignment-table-container {
  padding: 32px;
}

.assignment-add-container {
  margin-bottom: 20px;
}

.ant-table-row-level-0 {
  .ant-table-cell:last-child{
    width: 100px !important;
  }
}


.mr-5 {
  margin-right: 5px !important;
}