.reply {
    color:#1890ff !important;
}

.list-qna {
    border-top: 1px solid #dfdfdf !important;
}

.list-qna:last-child {
    border-bottom: 1px solid #dfdfdf !important;
}

.delete-qna {
    color: #ff4d4f !important;
    margin-left: 10px;
}